body {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */ 
    
    font-family: 'Bodoni Moda', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Rubik', sans-serif;
  }


/* Add the transition class for the project detail container */
.project-detail-container {
  transition: translateY(100%);
}

/* Specify the initial position of the project detail container */
.project-detail-container.hidden {
  transform: translateY(100%);
}


.truncate-lines {
   /* Apply these styles to the element containing the text */
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
-webkit-line-clamp: 2; /* Number of lines to show */

  }